<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Option</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <h1>Choose your Api</h1>
        <h2>Hey <%= user.name %> , you are now logged in</h2>
        <a href="/">Home</a>
        <div>
            <a href="/randomUser">Random User</a> 
        </div>
        <div>
            <a href="/movies">Movies</a>
        </div>
    </body>
</html>
