<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Option</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>  
    </head>
    <body>
        <h1>Choose your Api</h1>
        <h2>Hey <%= user.name %> , you are now logged in</h2>
        <a href="/">Home</a>
        <div>
            <a href="/randomUser">Random User</a> 
        </div>
        <div>
            <a href="/movies">Movies</a>
        </div>
    </body>
</html>
