<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Random</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/stylesheet/styleRandomUser.css" />
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>  
    </head>
    <body>
        <div>
            <div class="container">
                <h1>Random</h1>
                <% randomUser.forEach((ele)=>{ %>
                    <div class="myCard">
                        <img src= <%= ele[0] %>>
                        <h2 class=""> <%= `${ele[1]} ${ele[2]}` %> </h5>
                    </div>
                <%})%>
            </div>
        </div>
       
    </body>
</html>